
.btn{
  &.btn-success{
    color: $light-color;
    &:hover{
      color: lighten($light-color,20%);
      background-color: darken($success-color,10%);
    }
  }
  &.btn-red ,&.btn-danger{
    color: $light-color;
    background-color: $red-color;
    &:hover{
      color:  $light-color !important;
      background-color: darken($red-color,10%);
    }
  }
}