.image-upload{
    /*background-image: url("../assets/upload_img.png");*/
    height:100px;
    width: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    background-position: center top;
    border:  solid 1px $primary-color;
    position: relative;
    border-bottom: none;

    button{
        position: absolute;
        top: 98.5px;
        left: -1px;
        border:  solid 1px $primary-color;
        padding-left: 20px;
        padding-right: 20px;
        white-space: nowrap;
        border-top: none;
    }
}
