$mw_width: 330px;
$mw_image_width: 200px;

.mw-card {
  display: flex;
  width: $mw_width;
  min-height: 214px;;
  max-height: 214px;
  background-color: #fff;
  border: 1px solid darken($light-color, 5%);
  border-radius: 3px;
  margin: 0 15px 15px 0;
  position: relative;

  .image {
    width: $mw_image_width;
    height: 161px;
    /*background-image: url("../assets/orange.jpg");*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: 4px;
  }
  .alt-image {
    svg{
      background-color: $primary-color;
      color: $secondary-color;
      border-radius: 2px;
      text{
        font-size: 70px;
        text-transform: uppercase;
      }
    }
  }
  .in-stock{
    position: absolute;
    bottom: -5px;
    margin-left: 10px;
  }

  .description {
    width: 100%;
    position: relative;
    padding: 10px;

    .btn-group{
      margin-top: 10px;
    }
    td{
      font-size: 13px;

      &:nth-child(even){
        @include replace-by-dot(134px);
      }
    }

    .price {
      color: darken($success-color, 7%);
      font-weight: 800;
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 20px;
      @include replace-by-dot(200px);
      .main-price{
        text-align: right;
        @include replace-by-dot(120px);
      }
      .unit{
        text-align: left;
        @include replace-by-dot(80px);
      }

      &.home-price{
        font-weight: 500;
        @include replace-by-dot(100px);
      }
    }

    h1 {
      font-size: 22px;
      padding-top: 25px;
     @include replace-by-dot(185px);

      span {
        display: block;
        font-size: 11px;
        color: lighten($dark-color, 40%);
      }
    }

  }

}
.customer-mw-card {
  display: flex;
  width: $mw_width;
  min-height: 70px;
  background-color: #fff;
  border: 1px solid darken($light-color, 5%);
  border-radius: 3px;
  margin: 0 15px 15px 0;
  position: relative;

  .image {
    width: $mw_image_width;
    height: 154px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
  .alt-image {
    margin-top: 10px;
    margin-left: 8px;
    svg{
      background-color: $primary-color;
      color: $secondary-color;
      border-radius: 2px;
      text{
        font-size: 70px;
        text-transform: uppercase;
      }
    }
  }
  .description {
    width: 100%;
    padding: 10px;

    .btn-group{
      margin-top: 10px;
    }
    td{
      font-size: 13px;

      &:nth-child(even){
        @include replace-by-dot(134px);
      }
    }
    h1 {
      font-size: 22px;
     @include replace-by-dot(185px);

      span {
        display: block;
        font-size: 11px;
        color: lighten($dark-color, 40%);
      }
    }

  }

}