.report{
  overflow: hidden !important;
  select{
    width: 270px;
  }
  .card {
    max-height: calc( 100vh - 250px );
    overflow: hidden auto;
    table {
      position: relative;
      thead{
        th{
          background: lighten($secondary-color,45);
          position: sticky;
          top: 0;
          border-bottom: 0;
        }
      }
      tfoot{
        td{
          position: sticky;
          bottom: 0;
          background-color: $primary-color;
        }
      }
      tr {
        th, td {
          vertical-align: middle;
        }
      }
    }
  }
}