.single-movie {
  .content {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .layer {
      background-image: linear-gradient(to right, rgba(157.5, 199.5, 220.5, 1) 150px, rgba(157.5, 199.5, 220.5, 0.84) 100%);
      padding: 35px 0;

      img {
        border-radius: 20px;
        height: 100%;
        width: 100%;
      }


    }
  }
}